.socializer span a::after,
code span a::after {
    content: "";
}

.socializer span a svg path {
    fill: #333333;
}

a {
    text-decoration: none !important;
    color: inherit;
    background: rgb(245, 245, 245);
    border-radius: 8px;
}

a:hover {
    transition-property: background;
    transition-duration: 0.2s;
    background: rgb(255, 255, 255);
    border-radius: 8px;
}

/* a::after {
    margin-left: 10px;
    font-size: 87%;
    content: "\20D5";
    opacity: .5;
}

@supports (-moz-appearance:none) {
    a::after {
        margin-left: 5px;
    }
} */

#TOC {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    margin: 10rem 0 0 5%;
    background: rgb(250, 250, 250);
}

#TOC ul {
    margin: 0;
    padding: 0;
    font-size: initial;
    line-height: initial;
}

#TOC ul li {
    margin: .5em;
    list-style-type: none;
}

#TOC ul li a {
    background: transparent;
}

#TOC ul li a:hover {
    opacity: .5;
}

div.sourceCode {
    background: rgb(250, 250, 250);
}

@media (max-width: 1200px) {
    #TOC {
        position: inherit;
        margin: inherit;
        width: 100%;
        max-width: calc(650px - 4.2rem);
        padding: 0;
    }

    body {
        /* width: 84%; */
        padding-left: 8%;
        /* padding-right: 8%; */
    }

    .sidenote,
    .marginnote {
        margin-right: calc(-2rem - 200px);
    }
}

/* navbar on top */

.navbar {
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    max-width: calc(650px - 4.2rem);
    border-bottom: 1px solid grey;
}

.navbar .right {
    float: right;
}

@media (max-width: 760px) {
    .navbar {
        position: absolute;
        width: unset;
    }

    .navbar .right {
        float: left;
    }
}

@media (max-width: 380px) {
    header h1 {
        margin-top: 12rem;
    }
}

.navbar a {
    float: left;
    display: block;
    color: #111;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
    font-size: 22px;
    background: transparent;
}

.navbar a:hover {
    opacity: .5;
}

/* blog listing */

.blogsection-year h1 {
    font-size: 1.8rem;
    color: gray;
    text-align: right;
    width: 100%;
    max-width: calc(650px - 4.2rem);
    margin-top: 10px;
}

.blogsection-year {
    padding-bottom: 0rem;
    margin-bottom: -1rem;
    margin-left: 6rem;
    margin-top: -1rem;
}

.blogpost,
.blogpost>p {
    width: 100%;
    max-width: calc(650px - 4.2rem);
}

.blogpost-title {
    padding-top: .5em;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.1;
    border-top: 1px solid gray;
    margin-bottom: .2em;
}

.blogpost-subtitle {
    /* font-style: italic; */
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.2;
    margin-top: .5em;
}

.blogpost-metadata {
    font-size: 1rem;
    line-height: 1;
}

.abstract summary,
.abstract p {
    font-size: 1.3rem;
    line-height: 1.7rem;
    hyphens: auto;
}

.blogpost-metadata .publink {
    background: rgb(230, 230, 230);
    border-radius: 8px;
    padding-left: .5em;
    padding-right: .5em;
    margin-right: 1ex;
}

.author-other {
    color: #535353;
}