.socializer span a::after,
code span a::after {
    content: "";
}

a {
    text-decoration: none !important;
    color: inherit;
}

a:hover {
    text-decoration: none !important;
    opacity: .5;
}

a::after {
    margin-left: 10px;
    font-size: 87%;
    content: "\20D5";
    opacity: .5;
    vertical-align: text-top;
}

#TOC {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    margin: 10rem 0 0 5%;
    background: rgb(250, 250, 250);
}

#TOC ul {
    margin: 0;
    padding: 0;
    font-size: initial;
    line-height: initial;
}

#TOC ul li {
    margin: .5em;
    list-style-type: none;
}

#TOC ul li a::after {
    content: none;
}

div.sourceCode {
    background: rgb(250, 250, 250);
}

@media (max-width: 1200px) {
    #TOC {
        position: inherit;
        margin: inherit;
        width: 100%;
        max-width: calc(650px - 4.2rem);
        padding: 0;
    }

    body {
        /* width: 84%; */
        padding-left: 8%;
        /* padding-right: 8%; */
    }

    .sidenote,
    .marginnote {
        margin-right: calc(-2rem - 200px);
    }
}
